#main-nav {
  padding: 13px 0px;
}

#main-nav li.no-option-item {
  line-height: 44px;
  padding: 0px 4px;
  color: #B8B8B8;
  font-family: 'Oswald', sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
}

.navbar-inverse {
  border-radius: 0;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  margin-bottom: 0;
}

@media only screen and (min-width: 320px) {
  a.navbar-brand {
    padding: 15px 0px 0px 20px;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
  }

  a.navbar-brand img {
    height: 30px;
  }

  #head {
    margin-top: 10px;
  }

  #head .heading-text {
    position: absolute;
    z-index: 999;
    text-align: center;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 10px;
  }

  #head h1 {
    margin-top: 0px;
    font-size: 45px;
  }

  #head h2 {
    margin: 5px 5px 5px 5px;
  }

  #head p {
    font-size: 20px;
    padding: 0px 10px;
    margin-bottom: 8px;
  }

  #head .start-quiz > div {
    width: 200px;
    margin: 0px auto;
    cursor: pointer;
    border: 2px solid #fff;
    padding: 6px 12px;
  }

  #head .start-quiz > div:hover {
    opacity: 0.75;
  }

  #ranking {
    margin-top: 50px;
    border: 1px solid #f7f7f7;
  }
}

@media only screen and (min-width: 480px) {
  #head .heading-text {
    top: 10px;
  }

  #head h1 {
    margin-top: 20px;
    font-size: 45px;
  }

  #head h2 {
    margin: 20px 5px 20px 5px;
  }

  #head p {
    font-size: 20px;
    padding: 10px 40px;
  }
}

@media only screen and (min-width: 768px) {
  #ranking {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 992px) {
  #head .heading-text {
    top: 40px;
  }

  #head h1 {
    margin-top: 40px;
    font-size: 45px;
  }

  #head h2 {
    margin: 30px 5px 30px 5px;
  }

  #head p {
    font-size: 24px;
    padding: 10px 40px;
  }
}

@media only screen and (min-width: 1200px) {
  #head .heading-text {
    top: 40px;
  }

  #head h1 {
    margin-top: 60px;
    font-size: 45px;
  }

  #head h2 {
    margin: 40px 5px 40px 5px;
  }

  #head p {
    font-size: 28px;
    padding: 20px 40px;
  }
}

.modal-content {
  border-radius: 0px;
}

.modal-content .modal-header {
  background-color: #3d84e6;
  color: #fff;
}

.modal-content .modal-header h2 {
  margin: 0px;
}

.jconfirm * {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.jconfirm .jconfirm-box {
  border-radius: 0px !important;
  border: 2px solid #337ab7 !important;
}

.jconfirm .jconfirm-buttons button.btn {
  border-radius: 0px !important;
  text-transform: none !important;
}

#row-forgot-password {
  margin-bottom: 20px;
}

#row-forgot-password a {
  text-decoration: underline;
}

#row-social-links {
  margin-bottom: 22px;
}

.btn-facebook-login {
  background: #304e96;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 1px;
  margin-right: 6px;
}

.btn-linkedin-login {
  background: #e0e0e0;
  color: #3c3b3b;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 1px;
}

#quizz-selector {
  margin-top: 20px;
}

#quizz-selector .isotopeWrapper article {
  min-height: 240px;
}

#quizz-selector .isotopeWrapper article h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 320px) {
  #quiz-detail-container {
    margin: 30px 0px;
  }

  #quiz-detail-container .panel-title {
    font-size: 22px;
  }

  #quiz-detail-container .btn-success:hover {
    background-color: #5cb85c;
  }

  #question-text-section p {
    border: 1px solid #ccc;
    background-color: #fcfcfc;
    padding: 20px;
    color: #222;
  }

  #question-options {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fcfcfc;
  }

  #question-options .text-answer-container .form-group {
    margin-bottom: 0px;
  }

  #question-options .check-answer-container ul {
    margin-bottom: 0px;
  }

  #question-options .radio-answer-container ul {
    margin-bottom: 0px;
  }

  #question-options .match-container ul {
    margin-bottom: 0px;
  }

  #question-options .match-container .list-group-item {
    min-height: 42px;
  }
}

.response-container {
  border: 1px solid #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
}

.response-container .question-container {
  margin-top: 10px;
}

.response-container h5 {
  font-size: 16px;
  font-weight: 500;
}

.response-container h5 i.fa {
  font-weight: 500;
  font-size: 20px;
}

.response-container:last-child {
  margin-bottom: 0px;
}

div.is_correct > div h5 {
  color: #2d8c0b !important;
}

div.is_correct > div > div {
  background-color: #effcea !important;
  border: 1px solid #2d8c0b !important;
  color: #2d8c0b !important;
  padding: 10px;
}

div.is_not_correct > div h5 {
  color: #d33724 !important;
}

div.is_not_correct > div > div {
  background-color: #fce9e8 !important;
  border: 1px solid #d33724 !important;
  color: #d33724 !important;
  padding: 10px;
}

h4.is_correct {
  color: #2d8c0b !important;
}

h4.is_not_correct {
  color: #d33724 !important;
  text-decoration: line-through;
}

.response-container ul {
  margin-bottom: 0px;
}

.correct-answer-component {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #FDFDFD;
}

.user-response-match-container span.is-correct {
  color: #2d8c0b !important;
}

.user-response-match-container span.is-wrong {
  color: #d33724 !important;
}

.user-response-match-container span.badge-is-correct {
  background-color: #2d8c0b !important;
}

.user-response-match-container span.badge-is-wrong {
  background-color: #d33724 !important;
}

#play {
  margin-top: 40px;
}

div.form-group.has-error > label {
  color: red;
}

div.progress {
  border-radius: 0px;
}

header#head.secondary.admin {
  padding: 0 !important;
  height: initial !important;
  min-height: initial !important;
}

header#head.secondary.admin h1 {
  margin: 0px 0px;
  line-height: initial;
}

h3.tab-header {
  margin: 20px 0px;
}

button.btn,
div.alert,
a.btn {
  border-radius: 0px;
}

.has-error .help-block {
  color: red !important;
}

.has-error .help-block:before {
  font-family: FontAwesome;
  content: "\F057";
  padding-right: 4px;
}

.has-error .form-control {
  border: 1px solid red;
}

ul.list-group {
  border-radius: 0px;
  margin-bottom: 0px;
}

ul.list-group li.list-group-item {
  border-radius: 0px;
}

div.alert,
input.form-control {
  margin-bottom: 0px;
}

div.form-group {
  margin-bottom: 5px;
}

div.form-group label {
  margin-bottom: 0px;
}

body.modal-open {
  overflow: hidden;
}

#quizes-list-component {
  margin: 20px 0px;
}

#quizes-list-component .quiz-render-item {
  border: 1px solid #e3e3e3;
  margin-bottom: 10px;
}

#quizes-list-component .quiz-render-item .quiz-title {
  background-color: #3d84e6;
  color: #fff;
  padding: 10px;
}

#quizes-list-component .quiz-render-item .quiz-details {
  padding: 10px;
}

#quizes-list-component .quiz-render-item .quiz-details h5 {
  margin: 2px 0px;
}

#quizes-list-component .quiz-render-item .quiz-details li.list-group-item {
  padding: 5px 6px;
  border: none;
}

#quizes-list-component .quiz-render-item .quiz-details p:last-child {
  margin-bottom: 0px;
}

#quizes-list-component .quiz-render-item .quiz-details .detail-value {
  color: #000;
}

#quizes-list-component .quiz-render-item .quiz-details .detail-block {
  margin-bottom: 10px;
}

#quizes-list-component .quiz-render-item .quiz-details .detail-block:last-child {
  margin-bottom: 0px;
}

#quizes-list-component .quiz-render-item .quiz-actions {
  border-top: 1px solid #e3e3e3;
  background-color: #f7f7f7;
  padding: 10px 10px 10px 10px;
}

#quizes-list-component .quiz-render-item .quiz-questions {
  padding: 10px;
}

#quizes-list-component .quiz-render-item .quiz-questions .question-container {
  border: 1px solid #e3e3e3;
  margin-bottom: 6px;
}

#quizes-list-component .quiz-render-item .quiz-questions .question-container h5 {
  margin: 2px 0px;
}

#quizes-list-component .quiz-render-item .quiz-questions .question-container .question-correct-answer,
#quizes-list-component .quiz-render-item .quiz-questions .question-container .question-answer-description,
#quizes-list-component .quiz-render-item .quiz-questions .question-container .correct-to-string,
#quizes-list-component .quiz-render-item .quiz-questions .question-container .question-answer-image {
  margin-top: 8px;
}

#quizes-list-component .quiz-render-item .quiz-questions .question-container .question-body,
#quizes-list-component .quiz-render-item .quiz-questions .question-container .question-correct-answer {
  margin-bottom: 8px;
}

#quizes-list-component .quiz-render-item .quiz-questions .question-container .question-body,
#quizes-list-component .quiz-render-item .quiz-questions .question-container .answer-component-container,
#quizes-list-component .quiz-render-item .quiz-questions .question-container .question-answer-description,
#quizes-list-component .quiz-render-item .quiz-questions .question-container .question-answer-image {
  padding: 10px;
}

#quizes-list-component .quiz-render-item .quiz-questions .modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

#quizes-list-component .quiz-render-item .quiz-questions .row-after-answers {
  margin-top: 10px;
}

#quizes-list-component .quiz-render-item:last-child {
  margin-bottom: 0px;
}

.col-quizes-toolbar {
  margin-bottom: 10px;
}

.quiz-form {
  padding: 10px;
}

.quiz-form .row-actions {
  margin-top: 10px;
}

.questions-toolbar {
  margin-bottom: 8px;
}

.image-uploader .input-group-btn .btn {
  padding: 10px 12px 9px 12px;
}

.question-answers-component .accepted-answer-item {
  float: left;
  width: 50%;
  padding: 3px;
}

.question-answers-component .accepted-answer-item > div {
  border: 1px solid #2d8c0b;
  background-color: #effcea !important;
  color: #2d8c0b !important;
  padding: 2px;
}

.question-answers-component .answer-item .answer-actions {
  display: none;
}

.question-answers-component .answer-item:hover .answer-actions {
  display: inline-block;
  cursor: pointer;
}

.question-answers-component .answer-item:hover .answer-actions .fa-trash-o {
  color: red;
}

.question-answers-component .answer-item:hover .answer-actions .fa-pencil {
  color: #666;
}

#quiz-create-container {
  margin-top: 20px;
}

#quiz-create-container a {
  border-radius: 0px;
}

#quiz-create-container a span {
  color: #333;
}

#quiz-create-container a span.active {
  font-weight: bold;
  color: #3d84e6;
}

#questions-row,
#actions-row {
  margin-top: 20px;
}

#questions .toolbar,
#questions .number-of-questions {
  margin: 6px 0px;
}

#questions #question-form-container {
  margin-top: 30px;
}

#questions .number-of-questions {
  line-height: 34px;
}

form.question-form .col-answer-description {
  margin-top: 10px;
}

#kbd {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -50px;
  margin: auto 0px;
}

.galleria-info-text {
  display: block !important;
}

