#main-nav li.no-option-item {
  line-height: 44px;
  padding: 0px 4px;
  color: #B8B8B8;
  font-family: 'Oswald', sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
}

#head h1 {
  margin-top: 20px;
}

.modal-content {
  border-radius: 0px;
}

.modal-content .modal-header {
  background-color: #3d84e6;
  color: #fff;
}

.modal-content .modal-header h2 {
  margin: 0px;
}

.jconfirm .jconfirm-box {
  border-radius: 0px !important;
}

.jconfirm .jconfirm-buttons button.btn {
  border-radius: 0px !important;
  text-transform: none !important;
}

#row-forgot-password {
  margin-bottom: 20px;
}

#row-forgot-password a {
  text-decoration: underline;
}

#row-social-links {
  margin-bottom: 22px;
}

.btn-facebook-login {
  background: #304e96;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 1px;
  margin-right: 6px;
}

.btn-linkedin-login {
  background: #e0e0e0;
  color: #3c3b3b;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 1px;
}

#quizz-selector {
  margin-top: 20px;
}

#quizz-selector .isotopeWrapper article {
  min-height: 240px;
}

#quizz-selector .isotopeWrapper article h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 320px) {
  #quiz-detail-container {
    margin: 30px 0px;
  }

  #quiz-detail-container .panel-title {
    font-size: 22px;
  }

  #quiz-detail-container .btn-success:hover {
    background-color: #5cb85c;
  }

  #question-text-section p {
    border: 1px solid #ccc;
    background-color: #fcfcfc;
    padding: 20px;
    color: #222;
  }

  #question-options {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fcfcfc;
  }

  #question-options .text-answer-container .form-group {
    margin-bottom: 0px;
  }

  #question-options .check-answer-container ul {
    margin-bottom: 0px;
  }

  #question-options .radio-answer-container ul {
    margin-bottom: 0px;
  }

  #question-options .match-container ul {
    margin-bottom: 0px;
  }

  #question-options .match-container .list-group-item {
    min-height: 42px;
  }
}

.response-container {
  border: 1px solid #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
}

.response-container .question-container {
  margin-top: 10px;
}

.response-container h5 {
  font-size: 16px;
  font-weight: 500;
}

.response-container h5 i.fa {
  font-weight: 500;
  font-size: 20px;
}

.response-container:last-child {
  margin-bottom: 0px;
}

div.is_correct > div h5 {
  color: #2d8c0b !important;
}

div.is_correct > div > div {
  background-color: #effcea !important;
  border: 1px solid #2d8c0b !important;
  color: #2d8c0b !important;
  padding: 10px;
}

div.is_not_correct > div h5 {
  color: #d33724 !important;
}

div.is_not_correct > div > div {
  background-color: #fce9e8 !important;
  border: 1px solid #d33724 !important;
  color: #d33724 !important;
  padding: 10px;
}

h4.is_correct {
  color: #2d8c0b !important;
}

h4.is_not_correct {
  color: #d33724 !important;
  text-decoration: line-through;
}

.response-container ul {
  margin-bottom: 0px;
}

.correct-answer-component {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #FDFDFD;
}

.user-response-match-container span.is-correct {
  color: #2d8c0b !important;
}

.user-response-match-container span.is-wrong {
  color: #d33724 !important;
}

.user-response-match-container span.badge-is-correct {
  background-color: #2d8c0b !important;
}

.user-response-match-container span.badge-is-wrong {
  background-color: #d33724 !important;
}

header#head.secondary.admin {
  padding: 0 !important;
  height: initial !important;
  min-height: initial !important;
}

header#head.secondary.admin h1 {
  margin: 0px 0px;
  line-height: initial;
}

h3.tab-header {
  margin: 20px 0px;
}

