@media only screen and (min-width : 1200px) 
{

	#head
	{

		.heading-text
		{
		    top: 40px;
		}

		h1
		{
			margin-top: 60px;
			font-size: 45px;
		}

		h2
		{
			margin: 40px 5px 40px 5px;
		}

		p
		{
			font-size: 28px;
			padding: 20px 40px;
		}

	}



}
