@media only screen and (min-width : 320px) 
{
	#quiz-detail-container
	{
		margin: 30px 0px;

		.panel-title
		{
			font-size: 22px;
		}

		.btn-success
		{
			&:hover
			{
				background-color: #5cb85c;
			}
		}
	}

	#question-text-section
	{
		p
		{
			border:1px solid #ccc;
			background-color: #fcfcfc;
			padding: 20px;
			color: #222;
		}
	}

	#question-options
	{
		border:1px solid #ccc;
		padding: 10px;
		background-color: #fcfcfc;

		.text-answer-container
		{
			.form-group
			{
				margin-bottom: 0px;
			}
		}

		.check-answer-container
		{
			ul
			{
				margin-bottom: 0px;
			}
		}

		.radio-answer-container
		{
			ul
			{
				margin-bottom: 0px;
			}
		}

		.match-container
		{
			ul
			{
				margin-bottom: 0px;
			}

			.list-group-item
			{
				min-height: 42px;
			}
		}
	}
}
