header#head.secondary.admin
{
	padding:0 !important;
	height: initial !important;
	min-height: initial !important;
	h1
	{
		margin:0px 0px;
		line-height: initial;
	}
}

h3.tab-header
{
	margin:20px 0px;
}