@import "./components/navbar";

@import "./components/header-0320";
@import "./components/header-0480";
@import "./components/header-0768";
@import "./components/header-0992";
@import "./components/header-1200";

@import "./components/modal";
@import "./components/jquery-confirm";

@import "./components/login";
@import "./components/quiz-selector";
@import "./components/quiz-detail";
@import "./components/quiz-responses";

@import "./components/play";

@import "./../admin/_all";


#kbd
{
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    right: 0;

    margin: auto 0px;
}

.galleria-info-text
{
  display: block !important;
}
